<input
  *ngIf="showTitle()"
  class="centralize form-control m-2"
  fullWidth
  type="text"
  [(ngModel)]="tempTitle"
/>
<textarea
  *ngIf="showShortInfo()"
  class="m-2 centralize form-control"
  fullWidth
  (change)="tempShortInfo = $event['target']['value']"
  rows="20"
  >{{ tempShortInfo }}</textarea
>

<textarea
  *ngIf="showDescription()"
  class="m-2 centralize form-control"
  fullWidth
  (change)="tempDescription = $event['target']['value']"
  rows="20"
  >{{ tempDescription }}</textarea
>
<input
  *ngIf="showURL()"
  class="centralize form-control m-2"
  fullWidth
  type="text"
  [(ngModel)]="tempURL"
/>
<!-- Submit button to update the information to the server/database -->
<div *ngIf="changesOccur(currentLandmark)" class="row centralize">
  <button
    class="btn btn-success btn-lg full-width m-2"
    (click)="updateInfo(currentLandmark)"
  >
    Submit
  </button>
  <button
    class="btn btn-danger btn-lg full-width m-2"
    (click)="resetToViewMode()"
  >
    Cancel
  </button>
</div>
