@import "themes";

@import "~@nebular/theme/styles/globals";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

h1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 3rem;
}

* {
  font-family: Open Sans, sans-serif;
}

.label {
  font-size: 1rem;
  line-height: 1rem;
}

input[type="text"] {
  border-style: solid;
  border-width: 1px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.centralize {
  justify-content: center;
  align-items: center;
  display: flex;
}

nb-card-header {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5rem;
}

nb-card {
  background-color: #edf1f7;
}

input:hover {
  transition-duration: 0.3s;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in;
  background-color: lightgray;
  border-color: #e4e9f2;
}
